@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);

.container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50px;
  font-family: "Roboto Condensed", serif;
}
.currentTemperature {
  margin: 0;
}
.degreeSymbol {
  font-size: 25px;
  font-weight: 600;
  vertical-align: super;
}
.currentConditions {
  margin: 0;
}
.highAndLow {
  display: flex;
  gap: 20px;
}
.temp {
  font-weight: 700;
  line-height: 15px;
}
