.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: fit-content;
}
.dialContainer {
  padding: 10px 10px 10px 10px;
  border-radius: 7px;
  background-color: var(--section-color);
  backdrop-filter: blur(10px);
  font-family: "Roboto Condensed", serif;
}
.currentTemperature {
  margin: 0;
}
.degreeSymbol {
  color: white;
  font-size: 25px;
  font-weight: 600;
  vertical-align: super;
}
.currentConditions {
  margin: 0;
}
.highAndLow {
  display: flex;
  gap: 20px;
}
.temp {
  line-height: 15px;
}
.temp#max {
  color: #d84315;
}
.temp#min {
  color: #0091ea;
}
.address {
  margin: 0;
  font-size: x-large;
  letter-spacing: 5px;
  text-transform: capitalize;
}
.search {
  padding: 10px;
  border-radius: 7px;
  outline: none;
  border: none;
  font-family: "Roboto Condensed", serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
