.circle {
  position: absolute;
  top: 50px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: rotate(0deg);
  transform-origin: center 130px;
  animation: fullCircle 20s linear forwards infinite;
}
@keyframes fullCircle {
  100% {
    transform: rotate(360deg);
  }
}
/* total time seconds:86400 */
/* current time seconds(2:30):52200 [which is 217]*/
/* current time seconds(12:00):43200 [which is 180]*/

/* calculation for poisiton of orb= ([(CurrentTime/TotalTime)100]/100)360 */
/* 1deg == 241sec(4 min) */
