.table {
  background-color: chocolate;
  border-radius: 7px;
  padding: 0 10px 10px 10px;
  font-family: "Roboto Condensed", serif;
}
.containerLimiter {
  overflow-x: scroll;
  scrollbar-width: none;
}
.weatherContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  text-align: center;
  width: 1140px;
  height: 42px;
}
.degreeSymbolForecast {
  vertical-align: super;
}
