.sunContainer {
  background-color: rgba(247, 247, 247, 0.7);
  backdrop-filter: blur(10px);
}
.sunriseSunset {
  align-self: flex-start;
}
.sunLaneScape {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 181px;
  overflow: hidden;
}
